<div id="tool-bar">
<% if (user) { %>
    <div class="options">
    <a href='/cms'><i class="fa fa-home"></i></a>

        <span id="extra-options"></span>
    </div>
    <div class="user">
    Logged in as <a href='/cms/update/User/<%- user._id %>'><%-user.email%></a> / <a href='/logout'>Logout</a>
    </div>
<% } else { %>
    <a href='/login'>Login</a>
<% } %>
</div>

<div id="control-bar"></div>
<div id="info-panel">
    <div class="cog" id="info-cog"><i class="fa fa-cog"></i></div>
    <div id="info-panel-content"></div>

</div>

<% if (message) { %>
<div id="message">
    <%- message %>
</div>
<% } %>