<% include ../head %>
<link href="/css/dashboard.css" rel="stylesheet">
<% include head %>
<% include ../head1 %>
<% include ../nav %>

<div style="padding: 30px 300px 20px 15px;">

    <h2>Backup / Restore</h2>

    <div id="above-models"></div>

    <div id="models">
        <% for(var i = 0; i < models.length; i++) { %>
        <div class="dashboard-model">
            <h3><%= models[i].meta.plural %></h3>
            <% if (models[i].info.admin || models[i].info.can_browse) { %>
            <a href='/cms/browse/<%= models[i].type %>'>browse <i class='fa fa-play-circle'></i> </a>
            <% } %>
            <% if (models[i].info.admin || models[i].info.can_create) { %>
            <a href='/cms/create/<%= models[i].type %>'>create <i class='fa fa-plus-circle'></i> </a>
            <% } %>
        </div>
        <% } %>
    </div>

    <br clear="both">

</div>


<script>
    $("#control-bar").hide();
    $("#info-cog").hide();

    var $info_logs = $("#info-panel");
    $info_logs.append("<h3>Backup / Restore</h3>");

</script>


<% include ../foot %>


