<% include ../head %>
<link href="/css/dashboard.css" rel="stylesheet">
<% include head %>
<% include ../head1 %>
<% include ../nav %>
<style>

</style>
<div style="padding: 30px 300px 20px 15px;">

    <h2>Backup / Restore</h2>

    <div id="above-models"></div>

    <div id="models">
        <% for(var i = 0; i < models.length; i++) { %>
        <div class="dashboard-model">
            <div><input type="checkbox" name="<%- models[i].type %>" value=""/> <%= models[i].meta.plural %></div>
        </div>
        <% } %>
    </div>

    <br clear="both">

</div>


<script>
    $("#control-bar").hide();
    $("#info-cog").hide();

    var $info_logs = $("#info-panel");
    $info_logs.append("<h3>Backup / Restore</h3>");

</script>


<% include ../foot %>


