<% include ../head %>
<% include head %>
<% include ../head1 %>
<% include ../nav %>

<div id="browser"></div>

<script>
$(document).ready(function () {
    $("#browser").append(init_cms('/cms').$el());
});
</script>

<% include ../foot %>










