<% include ../head %>
<% include head %>
<% include ../head1 %>
<% include ../nav %>

<style>
    h2 {
        margin:27px 0 16px 0;
        color:#337;
        font-weight:normal;
    }
    .dashboard-model {
        width: 200px;
        height: 70px;
        background-color: #e7e5e0;
        margin: 0 10px 10px 0;
        padding: 10px;
        float: left;
    }

    .dashboard-model h3 {
        margin:23px 0 4px 0;
        color:#337;
        font-weight:normal;
    }
    .dashboard-model.dark {
        background-color: #605e6b;
        color: #ccc;
    }
    .dashboard-model.dark h3{
        color: #fff;
    }
    .dashboard-model .fa { font-size: 13px; }
    a .fa { color: #999; }
    a .fa-play-circle { padding-right:5px; }

</style>

<div style="padding: 30px 300px 20px 15px;">
<h2><%=title%></h2>
<% for(var p in models) {
    if (models[p].meta.dashboard) {  %>
    <div class="dashboard-model">
    <h3><%= p %></h3>
    <a href='/cms/browse/<%=p%>'>browse <i class='fa fa-play-circle'></i> </a>
    <a href='/cms/create/<%=p%>'>create <i class='fa fa-plus-circle'></i> </a>
    </div>
<% } } %>


<br clear="both">

</div>


<script>
$("#control-bar").hide();

var $info_logs = $("#info-panel");
var seen = {}
$$ajax('/cms/logs').done(function (logs) {
    if (logs.length != 0)
        $info_logs.append("<h3>Recent Activity</h3>");
    for (var i = 0; i < logs.length; i++)
    {
        var k = logs[i].action + logs[i].type+logs[i].id;
        if (seen[k])
            continue;
        seen[k] = true;
        $info_logs.append(get_log_row(logs[i]));
    }
});


function get_log_row(log) {
    var $r = $$('log-row');
    $$('action', {parent: $r}).text(log.action);

    var t = render_template(log.type, log.info.object);
    $$('instance', {parent: $r}).text(t).click(function(){ location.href = '/cms/update/'+log.type+'/'+log.id});
    $$('time', {parent: $r}).html(timeSince(log.time) + " by <i>" + log.user.email + "</i>");
    return $r;
}
</script>



<% include ../foot %>


