<% include ../head %>
<% include head %>
<% include ../head1 %>
<% include ../nav %>

<style>
    h2 {
        margin:27px 0 16px 0;
        color:#337;
        font-weight:normal;
    }
    .dashboard-model {
        width: 100%;
        height: 70px;
        background-color: #f3f3f3;
        margin: 0 15px 15px 0;
        padding: 15px;
        float: left;
    }

    .dashboard-model h3 {
        margin:23px 0 4px 0;
        color:#337;
        font-weight:normal;
        font-family: 'Playfair Display', sans-serif;
    }
    .dashboard-model.dark {
        background-color: #605e6b;
        color: #ccc;
    }
    .dashboard-model.dark h3{
        color: #fff;
    }
    .dashboard-model .fa { font-size: 13px; }
    a .fa { color: #999; }
    a .fa-play-circle { padding-right:5px; }

</style>

<div style="padding: 30px 300px 20px 15px;">
<h2><%=title%></h2>
<% for(var i =0; i<models.length; i++) {%>
<% if (models[i].meta.dashboard) {  %>
    <div class="dashboard-model">
    <h3><%= models[i].meta.plural %></h3>
    <% if (models[i].info.admin || models[i].info.can_browse) {  %>
    <a href='/cms/browse/<%=models[i].type%>'>browse <i class='fa fa-play-circle'></i> </a>
    <% } %>
    <% if (models[i].info.admin || models[i].info.can_create) {  %>
    <a href='/cms/create/<%=models[i].type%>'>create <i class='fa fa-plus-circle'></i> </a>
    <% } %>
    </div>
<% } %>
<% } %>


<br clear="both">

</div>


<script>
$("#control-bar").hide();
$("#info-cog").hide();



var $info_logs = $("#info-panel");
var seen = {}
$$ajax('/cms/logs').done(function (logs) {
    if (logs.length != 0)
        $info_logs.append("<h3>Recent Activity</h3>");
    for (var i = 0; i < logs.length; i++)
    {
        var k = logs[i].action + logs[i].type+logs[i].id;
        if (seen[k])
            continue;
        seen[k] = true;
        $info_logs.append(get_log_row(logs[i]));
    }
});

function get_log_row(log) {
    var $r = $$('log-row');
    $$('action', {parent: $r}).text(log.action);
    var t = render_template(log.obj.t, log.info.object);
    $$('instance', {parent: $r}).text(t).click(function(){ location.href = '/cms/update/'+log.obj.t+'/'+log.info.object._id});
    $$('time', {parent: $r}).html(timeSince(log.time) + " by <i>" + log.user.email + "</i>");
    return $r;
}
</script>



<% include ../foot %>


