<% include ../head %>
<% include head %>
<% include ../head1 %>
<% include ../nav %>

<div class="padded">
    <div id="workspace"></div>
</div>

<script>

$(document).ready(function () {
    var cms = init_cms('/cms');
    $("#workspace").append(cms.$el());
});
</script>

<% include ../foot %>










