<% var title = 'Login' %>
<% include ../head %>
<% include ../head1 %>

<h1>Login</h1>

<form method="post">
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<% include ../foot %>