<% var title = 'Register' %>
<% include ../head %>
<% include ../head1 %>

<h1>Register</h1>

<form method="post">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Register">
  </p>
</form>

<% include ../foot %>

